<div class="container mt-5 ml-5 ">
    <fomr>
        <div class="row">
            <div class="form-group">
                <input type="email" class="form-control" name="hienmk" ng-model="email" placeholder="Email của bạn..."/>
                
            </div>
           
        </div>
        <div class="row">
            <div class="form-group" ng-if="row == true">
                <h5 class="text-white">Mật khẩu của bạn là: {{hienmk}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button class="btn btn-success" ng-click="quenmatkhau()">Kiểm tra</button>
            </div>
        </div>
    </fomr>
</div>